body {
	margin:0px;
	padding:0px;
}
.bloque-rojo{
	width: 400px;
	height: 400px;
	background:#ED462F;
	position:static;
}
.bloque-morado{
	width: 200px;
	height: 200px;
	background:#752E80;
	position:absolute;
	top:100px;
	bottom:0px;
	right:0px;
	left:100px;
}
.bloque-amarillo{
	width: 100px;
	height: 100px;
	background:#FFF835;
	position:absolute;
	top:0px;
	bottom:0px;
	right:0px;
	left:0px;
}